In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import re

In [3]:
df = pd.read_csv("lagadded_outrem.csv", low_memory=False)

In [4]:
commodity_name = 'Potato White'
df1 = df[df['Commodity'] == commodity_name]

In [5]:
df1

,Commodity,Date,Average,day,month,year,Season_Fall,Season_Spring,Season_Summer,Season_Winter,...,Indra Jatra_near,Lhosar_near,Janai Purnima_near,Gai Jatra_near,Maghe Sankranti_near,Shree Panchami_near,Fall_near,Spring_near,Summer_near,Winter_near
1,Potato White,2013-06-16,2.740840,16.0,6.0,2013.0,False,False,True,False,...,0,0,0,0,0,0,0,0,1,0
10,Potato White,2013-06-17,2.740840,17.0,6.0,2013.0,False,False,True,False,...,0,0,0,0,0,0,0,0,1,0
19,Potato White,2013-06-18,2.740840,18.0,6.0,2013.0,False,False,True,False,...,0,0,0,0,0,0,0,0,1,0
28,Potato White,2013-06-19,2.740840,19.0,6.0,2013.0,False,False,True,False,...,0,0,0,0,0,0,0,0,1,0
37,Potato White,2013-06-20,2.740840,20.0,6.0,2013.0,False,False,True,False,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30281,Potato White,2023-09-24,3.850148,24.0,9.0,2023.0,True,False,False,False,...,1,0,0,0,0,0,1,0,0,0
30289,Potato White,2023-09-25,3.850148,25.0,9.0,2023.0,True,False,False,False,...,0,0,0,0,0,0,1,0,0,0
30297,Potato White,2023-09-26,3.891820,26.0,9.0,2023.0,True,False,False,False,...,0,0,0,0,0,0,1,0,0,0
30305,Potato White,2023-09-27,3.850148,27.0,9.0,2023.0,True,False,False,False,...,0,0,0,0,0,0,1,0,0,0
30313,Potato White,2023-09-28,3.850148,28.0,9.0,2023.0,True,False,False,False,...,0,0,0,0,0,0,1,0,0,0

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

train=df1.loc[0:30005]
test=df.loc[30006:30313]

x_train, x_test, y_train, y_test = train_test_split(df1.drop(['Average', 'Commodity', 'Date'], axis=1),
                                                    df1['Average'], test_size=0.1, random_state=42)

lmodel = LinearRegression()
lmodel.fit(x_train, y_train)

y_pred = lmodel.predict(x_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 3.00114634109466e+19
R-squared: -9.369922496516732e+19

In [10]:
len(y_pred)

307

In [ ]:
result=pd.DataFrame()
result['Date']=test['Date']
result['Actual']=test['Average']
result['Predticted']=pred
result